* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

    --black: #121212;
    --dark-blue: #19202D;
    --white: #fff;
    --grey-100: #e7eaee;
    --grey-200: #cfcfcf;
    --grey-300: #a3aab4;
    --grey-400: #676d7e;
    --grey-500: #48556a;
    --purple-50: #ede4ff;
    --purple-300: #a775f1;
    --purple-500: #733fc8;

    --ff-family: 'Barlow Semi Condensed', sans-serif;
    --fs-1: 2rem;
    --fs-2: 1.3rem;
    --fs-3: 1.1rem;
    --fw-semi-bold: 600;
    --fw-medium: 500;
    --lh-loose: 1.4;
    --lh-medium: 1.2;
    --lh-tight: 1.1;

    --space-500: 4rem;
    --space-400: 3.2rem;
    --space-300: 2.4rem;
    --space-200: 1.6rem;
    --space-100: 0.8rem;
    --space-50: 0.4rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--ff-family);
    font-weight: var(--fw-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f6;
}

main {
    display: grid;
    gap: var(--space-400);
    justify-content: center;
    margin-inline: var(--space-400);
    align-items: center;
    margin-block: var(--space-500);
}

.text-preset-1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-semi-bold);
    line-height: var(--lh-medium);
}

.text-preset-2 {
    font-size: var(--fs-2);
    line-height: var(--lh-tight);
}

.text-preset-3 {
    font-size: var(--fs-2);
    line-height: var(--lh-loose);
}

.text-preset-4 {
    font-size: var(--fs-3);
    line-height: var(--lh-tight);
}

.bg-purple {
    background-color: var(--purple-500);
}

.bg-mid-grey {
    background-color: var(--grey-500);
}

.bg-white {
    background-color: var(--white);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.color-white {
    color: var(--white);
}

.color-light-purple {
    color: var(--purple-50);
}

.color-light-grey {
    color: var(--grey-100);
}

.color-mid-light-grey {
    color: var(--grey-200);
}

.color-mid-grey {
    color: var(--grey-300);
}

.color-mid-dark-grey {
    color: var(--grey-400);
}

.color-dark-grey {
    color: var(--grey-500);
}